<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:replace="commons/header :: header"></header>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="commons/menu :: menu"></div>
        <div th:replace="commons/menu :: nav"></div>

        <!--page content-->
        <div class="right_col" role="main">

            <!--form info-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">

                        <div class="x_title">
                            <h2>新增标注任务
                                <small th:switch="${type}">
                                    <span th:case="${1}">文本类型标注任务</span>
                                    <span th:case="${2}">图片类型标注任务</span>
                                    <span th:case="${3}">音频类型标注任务</span>
                                </small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <br/>
                            <form class="form-horizontal form-label-left" th:action="@{/form/add.do}"
                                  method="post">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">标注任务标题</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" name="title" class="form-control" placeholder="描述标注任务标题">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">任务填写上限</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" name="limitNum" class="form-control" placeholder="标注任务的客户端填写上限" value="1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">标注任务描述</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea name="description" class="form-control" rows="8" placeholder="描述标注任务的规则"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">标注任务字段定义</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="itemContent" type="text" class="form-control" placeholder="描述标注字段内容">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">标注字段填写类型</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="itemType" class="form-control" required="required">
                                            <option value="1">填写型</option>
                                            <option value="2">选择型</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">选项型文本</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="itemTags" id="tags_1" type="text" class="tags form-control" value="实例文本1,实例文本2"/>
                                        <div id="suggestions-container"
                                             style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                    </div>
                                </div>
                                <div>
                                    <input name="type" th:value="${type}" hidden="hidden"/>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">保存表单</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <div th:replace="commons/footer :: footer"></div>

    </div>
</div>

<span th:replace="commons/script :: commonJs"></span>
</body>
</html>
