<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:replace="commons/header :: header"></header>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="commons/menu :: menu"></div>
        <div th:replace="commons/menu :: nav"></div>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>数据标注任务模版中心</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>所有结果</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div id="template-content" class="x_content">
                                <div class="row">
                                    <div class="col-md-12">

                                        <!-- price element -->
                                        <div class="col-md-4 col-sm-4 col-xs-4" th:each="template : ${templates}">
                                            <div class="pricing ui-ribbon-container">
                                                <!--new-->
                                                <div class="ui-ribbon-wrapper">
                                                    <div class="ui-ribbon">
                                                        New
                                                    </div>
                                                </div>
                                                <!--new-->
                                                <div class="title">
                                                    <h3 th:text="${template.title}"></h3>
                                                    <h4 th:text="${template.type}"></h4>
                                                </div>
                                                <div class="x_content">
                                                    <div class="">
                                                        <div class="pricing_features">
                                                            <ul class="list-unstyled timeline">
                                                                <li>
                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a href="" class="tag">
                                                                                <span>支持度</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <ul class="list-unstyled text-left">
                                                                                <li><i class="fa fa-check text-success"></i> 支持填写型</li>
                                                                                <li><i class="fa fa-check text-success"></i> 支持选择型</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a href="" class="tag">
                                                                                <span>描述</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <div class="byline">
                                                                                <span th:text="${template.createTime}"></span> by
                                                                                <a>系统管理员</a>
                                                                            </div>
                                                                            <p class="excerpt" th:text="${template.description}"></p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="pricing_footer">
                                                        <form th:action="@{/addForm.do}">
                                                            <input type="hidden" name="templateId" th:value="${template.templateId}"/>
                                                            <input type="submit" class="btn btn-success btn-block" role="button"
                                                                   value="创建任务">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- price element -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        <div th:replace="commons/footer :: footer"></div>
    </div>
</div>

<span th:replace="commons/script :: commonJs"></span>
</body>
</html>
