<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:replace="commons/header :: header"></header>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="commons/menu :: menu"></div>
        <div th:replace="commons/menu :: nav"></div>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>数据标注任务模版中心</h3>
                    </div>
                    <!-- search field -->
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <form method="post" th:action="@{/form_center.html}">
                                <div class="input-group">
                                    <input type="text" name="keyword" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit">查找</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="height:600px;">
                            <div class="x_title">
                                <h2>所有结果</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="row">

                                    <div class="col-md-12">

                                        <!-- price element -->
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="pricing ui-ribbon-container">
                                                <!--new-->
                                                <div class="ui-ribbon-wrapper">
                                                    <div class="ui-ribbon">
                                                        New
                                                    </div>
                                                </div>
                                                <!--new-->
                                                <div class="title">
                                                    <h3>情感倾向标记</h3>
                                                    <h4>文本型</h4>
                                                </div>
                                                <div class="x_content">
                                                    <div class="">
                                                        <div class="pricing_features">
                                                            <ul class="list-unstyled timeline">
                                                                <li>
                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a href="" class="tag">
                                                                                <span>支持度</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <ul class="list-unstyled text-left">
                                                                                <li><i class="fa fa-check text-success"></i> 支持填写型</li>
                                                                                <li><i class="fa fa-check text-success"></i> 支持选择型</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a href="" class="tag">
                                                                                <span>描述</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <div class="byline">
                                                                                <span>2019-03-02</span> by <a>系统管理员</a>
                                                                            </div>
                                                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="pricing_footer">
                                                        <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">创建任务</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- price element -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        <div th:replace="commons/footer :: footer"></div>
    </div>
</div>

<span th:replace="commons/script :: commonJs"></span>
</body>
</html>
