<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <header th:replace="commons/header :: header"></header>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">

            <form method="post" th:action="@{/login.do}">
              <h1>用户登录</h1>
              <div>
                <input type="text" name="username" class="form-control" placeholder="管理账号" required="required" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="登录密码" required="required" />
              </div>
              <div>
                <button class="btn btn-primary" type="reset"> 重设 </button>
                <button class="btn btn-success" type="submit"> 登录 </button>
                <p th:text="${msg}"></p>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-desktop"></i>  数据标注平台-管理后台 </h1>
                  <p>©2019 All Rights Reserved by yulinying </p>
                </div>
              </div>
            </form>

          </section>
        </div>

      </div>
    </div>
  </body>
</html>
